## Copy to local.properties and edit. Do NOT commit local.properties.
## Windows path example:
sdk.dir=C\:\\Users\\<you>\\AppData\\Local\\Android\\Sdk
## macOS / Linux example:
# sdk.dir=/Users/<you>/Library/Android/sdk
